.bactDash{
   padding-top: 40px;
   padding-bottom: 60px;
   margin-top: 30px;
}

.card{
   text-align: center;

}
.headerStyle{
   text-align: center;
}

.backColor{
   background-color: rgb(250, 213, 133);

}