.card .card-image{
    max-width:100%;
    max-height: 100%;
    padding-top: 10px;
    padding-left: 13%;

}
.card .card-image .image img {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.h3{
color: rgb(8, 8, 8);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-bottom:0 ;

}

.eventText{
padding-left: 30px;
    text-align: left;
}

.card-equal-height .card-footer {
 margin-top: auto;
}
.card{
 border-radius: 0.5rem;
}

.rightBack{
    background-color: rgb(170, 186, 202);
    margin: 10px;
}
.dateStyle{
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 200, 50);
}
.deletButton{
  height: 25px;
  width: 55px;
  background-color:rgb(236, 197, 87);
  color: rgb(37, 34, 34);
  font-size: 12px;
  margin-bottom: 5px;
margin-left:50px;
margin-top: 5px;
}
.flotRight{
  float: right;
 text-align: right;
}

.wordWrap{
  word-wrap: break-word;
}
 .buttonpad{
   padding-bottom: 20px;
   margin-bottom:20px ;
 }
