.navStyle{
    background-color: white;
    width: 100%;
font-weight: bold;
}
.navStyle .navbar-item:hover{
    color:rgb(253, 218, 18)
}
.navestyle{
    width: 60%;
}
.pink-btn{
    background: rgb(226, 134, 12) ;
    color: #ffffff;
    font-weight: bold;

}
.pink-btn:hover{
    background:  rgb(243, 172, 80) ; 
    font-weight: bold;
    color: white;
}
.purple-btn{
    background:   rgb(67, 141, 18) ; ;
    color: #ffffff;
}
.purple-btn:hover{
    background:    rgb(96, 179, 42) ; 
    color: white;
    font-weight: bold;

}


