.logo{
    font-size: 45px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
    font-weight: bolder;
    color:rgb(15, 15, 15)

}
.heroBack{
    background: url('../../assets//image//brush1.jpg') 79% center no-repeat;  
background-color: white;
background-size: cover;



}